In [84]:
def add_data_after_reading_csv_file(excel_file_path):
    wb = load_workbook(excel_file_path, data_only=True)  # Use data_only=True to read evaluated values

    # Create an empty list to store the data
    data = []
    
    # Iterate through all sheets in the workbook
    for sheet in wb.sheetnames:
        # Read each sheet as a DataFrame
        df = pd.read_excel(excel_file_path, sheet_name=sheet, header=None)
        df = df.dropna(how='all')
        data.append(df)

    for df in data:
        if 'date' in df.iloc[0][0].lower():
            metadata = {}
            for index in range(len(df.iloc[0])):
                if pd.notna(df.iloc[0][index]):
                    try:
                        key = df.iloc[0][index].split(':')[0].strip().lower()
                        if key.lower() == 'class total':
                            value = df.iloc[0][index+1]
                        else:
                            value = df.iloc[0][index].split(':')[1].strip()
                        metadata[key] = value
                    except:
                        pass
                        # print('Invalid data format')
            print(metadata)
            temp_df = df
            temp_df = temp_df.drop(0)
            
            # Set the second row as column names
            temp_df.columns = temp_df.iloc[0]
            
            # Reset the index
            temp_df = temp_df.reset_index(drop=True)
            
            temp_df = temp_df.drop(0)
            # Print the resulting DataFrame
            print(temp_df)

In [85]:
file_name = 'Mel Sat.01AdrianWhite August 2023.xlsx'
add_data_after_reading_csv_file(file_name)

{'date': '05/08/2023', 'module': 'Study Period D,RS3', 'class': 'Mel Sat. 01', 'trainer': 'Adrian White', 'class total': 19}
1   Student ID AC/IT  Att Total Hrs       Last Name        First Name  \
1   ATMC220611    AC   27       NaN            GARG           KASHISH
2   ATMC230395    IT   16       NaN           PABBA             RAHUL
3   ATMC230367    IT   12       NaN            ZHOU           ZHAOHUI
4   ATMC230168    AC   11       NaN      NAOTUNNAGE  SACHITH VIMUKTHI
5   ATMC230498    IT    8       NaN  Akashjot Singh          Akashjot
6   ATMC230422    AC   11       NaN           AHMED            FARJAN
7   ATMC230410    IT   10       NaN           CHENG          HAN-FANG
8   ATMC230464    IT    8       NaN        Yongchao                XU
9   ATMC230153    IT    6       NaN  Mai Thanh Thao                HA
10  ATMC230473    IT    7       NaN            KHAN     Fizza Taimoor
11  ATMC230546    IT    2       NaN           ANDRE   Louis Nicholas
12  ATMC230522    AC    2       NaN               .       Kulvir Kaur
13  ATMC230453    IT    8       NaN           SHAIK      ABDUL MAHEER
14  ATMC230549    AC  NaN       NaN    Mansi Sharma                 .
15  ATMC230557    AC  NaN       NaN            Anya               GUO
16  ATMC230564    IT  NaN       NaN            Zian               LIU
17  ATMC230569    IT  NaN       NaN            CHAN            Mei Yu
18  ATMC220450    IT  NaN       NaN             PEI               FEI
19  ATMC230218    IT  NaN       NaN           FAHAD  MD MUMENAL ISLAM
20         NaN   NaN  NaN       NaN             NaN               NaN
21         NaN   NaN  NaN       NaN             NaN               NaN
22         NaN   NaN  NaN       NaN             NaN               NaN
23         NaN   NaN  NaN       NaN             NaN               NaN
24         NaN   NaN  NaN       NaN             NaN               NaN
25         NaN   NaN  NaN       NaN             NaN               NaN
26         NaN   NaN  NaN       NaN             NaN               NaN
27         NaN   NaN  NaN       NaN             NaN
28      5.15pm   NaN  NaN       NaN             NaN               NaN

1  Preferred name                 Notes 9:00 AM - 11:00 AM  \
1         Kashish                   NaN            Present
2           Rahul                   NaN            Present
3         Vincent                   NaN            Present
4         Sachith                   NaN             Absent
5           Akash                   NaN            Present
6          Farjan                   NaN            Present
7            Anna                   NaN            Present
8             Yon                   NaN            Present
9             Mai                   NaN            Present
10          Fizza                   NaN            Present
11          Louis                   NaN            Present
12         Kulvir                   NaN            Present
13            NaN  Transferred from Wed            Present
14            NaN           New Student            Present
15            NaN           New Student            Present
16            NaN           New Student            Present
17            NaN           New Student            Present
18            NaN      Attendance Hours            Present
19            NaN      Attendance Hours            Present
20            NaN                   NaN                NaN
21            NaN                   NaN                NaN
22            NaN                   NaN                NaN
23            NaN                   NaN                NaN
24            NaN                   NaN                NaN
25            NaN                   NaN                NaN
26            NaN                   NaN                NaN
27            NaN                   NaN                NaN
28            NaN                   NaN                NaN

1  Morning Break\n(11:00 AM- 11:15 AM)  ... Total Hours  \
1                                    2  ...           8
2                                    2  ...           8
3                                    2  ...         7.5
4                                    0  ...           0
5                                    2  ...           8
6                                    2  ...           8
7                                    2  ...           8
8                                    2  ...           8
9                                    2  ...           8
10                                   2  ...           8
11                                   2  ...           8
12                                   2  ...           8
13                                   2  ...           8
14                                   2  ...           8
15                                   2  ...           8
16                                   2  ...           8
17                                   2  ...           8
18                                   2  ...           8
19                                   2  ...           8
20                                 NaN  ...         NaN
21                                 NaN  ...         NaN
22                                 NaN  ...         NaN
23                                 NaN  ...         NaN
24                                 NaN  ...         NaN
25                                 NaN  ...         NaN
26                                 NaN  ...         NaN
27                                 NaN  ...         NaN
28                                 NaN  ...         NaN

1  S.S Use Only. Lateness NaN  \
1                     NaN NaN
2                     NaN NaN
3          2 hour 45 mins NaN
4                  26 hrs NaN
5                     NaN NaN
6                11 hours NaN
7                     NaN NaN
8                     NaN NaN
9                     NaN NaN
10    4 hours and 45 mins NaN
11                    NaN NaN
12                    NaN NaN
13                    NaN NaN
14                    NaN NaN
15                    NaN NaN
16                    NaN NaN
17                    NaN NaN
18                    NaN NaN
19                    NaN NaN
20                    NaN NaN
21                    NaN NaN
22                    NaN NaN
23                    NaN NaN
24                    NaN NaN
25                    NaN NaN
26                    NaN NaN
27                    NaN NaN
28                    NaN NaN

1                                                 NaN present feedback  \
1                                                 NaN       1      Mai
2                                                 NaN       7    Fizza
3                                                 NaN       5     Anna
4   walked out of class with mobile without a word...       2    Rahul
5                                                 NaN      10      Mai
6                                                 NaN       9    Fizza
7                                                 NaN       4   Farjan
8                                                 NaN       8  Vincent
9                                                 NaN       6  Vincent
10                                                NaN       3    Rahul
11                                                NaN     NaN      NaN
12                                                NaN     NaN      NaN
13                                                NaN     NaN      NaN
14                                                NaN     NaN      NaN
15                                                NaN     NaN      NaN
16                                                NaN     NaN      NaN
17                                                NaN     NaN      NaN
18                                                NaN     NaN      NaN
19                                                NaN     NaN      NaN
20                                                NaN     NaN      NaN
21                                                NaN     NaN      NaN
22                                                NaN     NaN      NaN
23                                                NaN     NaN      NaN
24                                                NaN     NaN      NaN
25                                                NaN     NaN      NaN
26                                                NaN     NaN      NaN
27                                                NaN     NaN      NaN
28                                                NaN     NaN      NaN

1        NaN NaN     NaN     NaN
1    Sachith NaN     NaN     NaN
2        Yon NaN     NaN  Adrian
3    Kashish NaN     NaN     NaN
4     Farjan NaN     NaN     NaN
5    Sachith NaN     NaN     NaN
6        Yon NaN  adrian     NaN
7   Tianchen NaN     NaN     NaN
8    Kashish NaN     NaN     NaN
9   Tianchen NaN     NaN     NaN
10    Arkash NaN     NaN     NaN
11       NaN NaN     NaN     NaN
12       NaN NaN     NaN     NaN
13       NaN NaN     NaN     NaN
14       NaN NaN     NaN     NaN
15       NaN NaN     NaN     NaN
16       NaN NaN     NaN     NaN
17       NaN NaN     NaN     NaN
18       NaN NaN     NaN     NaN
19       NaN NaN     NaN     NaN
20       NaN NaN     NaN     NaN
21       NaN NaN     NaN     NaN
22       NaN NaN     NaN     NaN
23       NaN NaN     NaN     NaN
24       NaN NaN     NaN     NaN
25       NaN NaN     NaN     NaN
26       NaN NaN     NaN     NaN
27       NaN NaN     NaN     NaN
28       NaN NaN     NaN     NaN

[28 rows x 26 columns]
{'date': '12/08/2023', 'module': 'Study Period D,RS4', 'class': 'Mel Sat. 01', 'trainer': 'Adrian White', 'class total': 19}
1   Student ID AC/IT  Att Total Hrs       Last Name        First Name  \
1   ATMC220611    AC   28       NaN            GARG           KASHISH
2   ATMC230395    IT   17       NaN           PABBA             RAHUL
3   ATMC230367    IT   13       NaN            ZHOU           ZHAOHUI
4   ATMC230168    AC   11       NaN      NAOTUNNAGE  SACHITH VIMUKTHI
5   ATMC230498    IT    9       NaN  Akashjot Singh          Akashjot
6   ATMC230422    AC   12       NaN           AHMED            FARJAN
7   ATMC230410    IT   11       NaN           CHENG          HAN-FANG
8   ATMC230464    IT    9       NaN        Yongchao                XU
9   ATMC230153    IT    7       NaN  Mai Thanh Thao                HA
10  ATMC230473    IT    8       NaN            KHAN     Fizza Taimoor
11  ATMC230546    IT    3       NaN           ANDRE   Louis Nicholas
12  ATMC230522    AC    3       NaN               .       Kulvir Kaur
13  ATMC230453    IT    9       NaN           SHAIK      ABDUL MAHEER
14  ATMC230549    AC    1       NaN    Mansi Sharma                 .
15  ATMC230557    AC    1       NaN            Anya               GUO
16  ATMC230564    IT    1       NaN            Zian               LIU
17  ATMC230569    IT    1       NaN            CHAN            Mei Yu
18  ATMC230218    IT  NaN       NaN           FAHAD  MD MUMENUL ISLAM
19  ATMC230317    AC  NaN       NaN            LAMA       SAMIKCHHYA
20         NaN   NaN  NaN       NaN             NaN               NaN
21         NaN   NaN  NaN       NaN             NaN               NaN
22         NaN   NaN  NaN       NaN             NaN               NaN
23         NaN   NaN  NaN       NaN             NaN               NaN
24         NaN   NaN  NaN       NaN             NaN               NaN
25         NaN   NaN  NaN       NaN             NaN               NaN
26         NaN   NaN  NaN       NaN             NaN               NaN
27         NaN   NaN  NaN       NaN             NaN
28      5.15pm   NaN  NaN       NaN             NaN               NaN

1  Preferred name             Notes 9:00 AM - 11:00 AM  \
1         Kashish               NaN                NaN
2           Rahul               NaN                NaN
3         Vincent               NaN                NaN
4         Sachith               NaN                NaN
5           Akash               NaN                NaN
6          Farjan               NaN                NaN
7            Anna               NaN                NaN
8             Yon               NaN                NaN
9             Mai               NaN                NaN
10          Fizza               NaN                NaN
11          Louis               NaN                NaN
12         Kulvir               NaN                NaN
13         Maheer               NaN                NaN
14          Mansi               NaN                NaN
15           Anya               NaN                NaN
16           Zian               NaN                NaN
17            Mei               NaN                NaN
18            NaN  Attendance Hours                NaN
19            NaN  Attendance Hours                NaN
20            NaN               NaN                NaN
21            NaN               NaN                NaN
22            NaN               NaN                NaN
23            NaN               NaN                NaN
24            NaN               NaN                NaN
25            NaN               NaN                NaN
26            NaN               NaN                NaN
27            NaN               NaN                NaN
28            NaN               NaN                NaN

1  Morning Break\n(11:00 AM- 11:15 AM)  ... Total Hours  \
1                                  NaN  ...           0
2                                  NaN  ...           0
3                                  NaN  ...           0
4                                  NaN  ...           0
5                                  NaN  ...           0
6                                  NaN  ...           0
7                                  NaN  ...           0
8                                  NaN  ...           0
9                                  NaN  ...           0
10                                 NaN  ...           0
11                                 NaN  ...           0
12                                 NaN  ...           0
13                                 NaN  ...           0
14                                 NaN  ...           0
15                                 NaN  ...           0
16                                 NaN  ...           0
17                                 NaN  ...           0
18                                 NaN  ...           0
19                                 NaN  ...           0
20                                 NaN  ...         NaN
21                                 NaN  ...         NaN
22                                 NaN  ...         NaN
23                                 NaN  ...         NaN
24                                 NaN  ...         NaN
25                                 NaN  ...         NaN
26                                 NaN  ...         NaN
27                                 NaN  ...         NaN
28                                 NaN  ...         NaN

1  S.S Use Only. Lateness NaN  \
1                     NaN NaN
2                     NaN NaN
3          2 hour 45 mins NaN
4                  26 hrs NaN
5                     NaN NaN
6                11 hours NaN
7                     NaN NaN
8                     NaN NaN
9                     NaN NaN
10    4 hours and 45 mins NaN
11                    NaN NaN
12                    NaN NaN
13                    NaN NaN
14                    NaN NaN
15                    NaN NaN
16                    NaN NaN
17                    NaN NaN
18                    NaN NaN
19                    NaN NaN
20                    NaN NaN
21                    NaN NaN
22                    NaN NaN
23                    NaN NaN
24                    NaN NaN
25                    NaN NaN
26                    NaN NaN
27                    NaN NaN
28                    NaN NaN

1                                                 NaN present feedback  \
1                                                 NaN       1      Mai
2                                                 NaN       7    Fizza
3                                                 NaN       5     Anna
4   walked out of class with mobile without a word...       2    Rahul
5                                                 NaN      10      Mai
6                                                 NaN       9    Fizza
7                                                 NaN       4   Farjan
8                                                 NaN       8  Vincent
9                                                 NaN       6  Vincent
10                                                NaN       3    Rahul
11                                                NaN     NaN      NaN
12                                                NaN     NaN      NaN
13                                                NaN     NaN      NaN
14                                                NaN     NaN      NaN
15                                                NaN     NaN      NaN
16                                                NaN     NaN      NaN
17                                                NaN     NaN      NaN
18                                                NaN     NaN      NaN
19                                                NaN     NaN      NaN
20                                                NaN     NaN      NaN
21                                                NaN     NaN      NaN
22                                                NaN     NaN      NaN
23                                                NaN     NaN      NaN
24                                                NaN     NaN      NaN
25                                                NaN     NaN      NaN
26                                                NaN     NaN      NaN
27                                                NaN     NaN      NaN
28                                                NaN     NaN      NaN

1        NaN NaN     NaN     NaN
1    Sachith NaN     NaN     NaN
2        Yon NaN     NaN  Adrian
3    Kashish NaN     NaN     NaN
4     Farjan NaN     NaN     NaN
5    Sachith NaN     NaN     NaN
6        Yon NaN  adrian     NaN
7   Tianchen NaN     NaN     NaN
8    Kashish NaN     NaN     NaN
9   Tianchen NaN     NaN     NaN
10    Arkash NaN     NaN     NaN
11       NaN NaN     NaN     NaN
12       NaN NaN     NaN     NaN
13       NaN NaN     NaN     NaN
14       NaN NaN     NaN     NaN
15       NaN NaN     NaN     NaN
16       NaN NaN     NaN     NaN
17       NaN NaN     NaN     NaN
18       NaN NaN     NaN     NaN
19       NaN NaN     NaN     NaN
20       NaN NaN     NaN     NaN
21       NaN NaN     NaN     NaN
22       NaN NaN     NaN     NaN
23       NaN NaN     NaN     NaN
24       NaN NaN     NaN     NaN
25       NaN NaN     NaN     NaN
26       NaN NaN     NaN     NaN
27       NaN NaN     NaN     NaN
28       NaN NaN     NaN     NaN

[28 rows x 26 columns]

In [86]:
metadata

{'Date': '05/08/2023',
 'Module': ' Study Period D,RS3',
 'Class': 'Mel Sat. 01',
 'Trainer': ' Adrian White ',
 'Class Total': 19}

In [ ]:
tables
1. class schedule
2. class attendance

In [87]:
temp_df

1,Student ID,AC/IT,Att,Total Hrs,Last Name,First Name,Preferred name,Notes,9:00 AM - 11:00 AM,Morning Break\n(11:00 AM- 11:15 AM),...,Total Hours,S.S Use Only. Lateness,NaN,NaN,present,feedback,NaN,NaN,NaN,NaN
1,ATMC220611,AC,27,NaN,GARG,KASHISH,Kashish,NaN,Present,2,...,8,NaN,NaN,NaN,1,Mai,Sachith,NaN,NaN,NaN
2,ATMC230395,IT,16,NaN,PABBA,RAHUL,Rahul,NaN,Present,2,...,8,NaN,NaN,NaN,7,Fizza,Yon,NaN,NaN,Adrian
3,ATMC230367,IT,12,NaN,ZHOU,ZHAOHUI,Vincent,NaN,Present,2,...,7.5,2 hour 45 mins,NaN,NaN,5,Anna,Kashish,NaN,NaN,NaN
4,ATMC230168,AC,11,NaN,NAOTUNNAGE,SACHITH VIMUKTHI,Sachith,NaN,Absent,0,...,0,26 hrs,NaN,walked out of class with mobile without a word...,2,Rahul,Farjan,NaN,NaN,NaN
5,ATMC230498,IT,8,NaN,Akashjot Singh,Akashjot,Akash,NaN,Present,2,...,8,NaN,NaN,NaN,10,Mai,Sachith,NaN,NaN,NaN
6,ATMC230422,AC,11,NaN,AHMED,FARJAN,Farjan,NaN,Present,2,...,8,11 hours,NaN,NaN,9,Fizza,Yon,NaN,adrian,NaN
7,ATMC230410,IT,10,NaN,CHENG,HAN-FANG,Anna,NaN,Present,2,...,8,NaN,NaN,NaN,4,Farjan,Tianchen,NaN,NaN,NaN
8,ATMC230464,IT,8,NaN,Yongchao,XU,Yon,NaN,Present,2,...,8,NaN,NaN,NaN,8,Vincent,Kashish,NaN,NaN,NaN
9,ATMC230153,IT,6,NaN,Mai Thanh Thao,HA,Mai,NaN,Present,2,...,8,NaN,NaN,NaN,6,Vincent,Tianchen,NaN,NaN,NaN
10,ATMC230473,IT,7,NaN,KHAN,Fizza Taimoor,Fizza,NaN,Present,2,...,8,4 hours and 45 mins,NaN,NaN,3,Rahul,Arkash,NaN,NaN,NaN
11,ATMC230546,IT,2,NaN,ANDRE,Louis Nicholas,Louis,NaN,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,ATMC230522,AC,2,NaN,.,Kulvir Kaur,Kulvir,NaN,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,ATMC230453,IT,8,NaN,SHAIK,ABDUL MAHEER,NaN,Transferred from Wed,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ATMC230549,AC,NaN,NaN,Mansi Sharma,.,NaN,New Student,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,ATMC230557,AC,NaN,NaN,Anya,GUO,NaN,New Student,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,ATMC230564,IT,NaN,NaN,Zian,LIU,NaN,New Student,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ATMC230569,IT,NaN,NaN,CHAN,Mei Yu,NaN,New Student,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,ATMC220450,IT,NaN,NaN,PEI,FEI,NaN,Attendance Hours,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ATMC230218,IT,NaN,NaN,FAHAD,MD MUMENAL ISLAM,NaN,Attendance Hours,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,5.15pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
data[1][0][0]

'Date:05/08/2023'

In [1]:
ls

MEL_ PY Master Attendance Sheet.xlsx    README.md
Mel Sat.01AdrianWhite August 2023.xlsx  Untitled.ipynb
Parse_Excel_Sheet.ipynb

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('Mel Sat.01AdrianWhite August 2023.xlsx')

In [4]:
df

  Pres
0  Abs

In [42]:
import pandas as pd
from openpyxl import load_workbook

# Specify the Excel file path
excel_file_path = 'Mel Sat.01AdrianWhite August 2023.xlsx'

# Load the Excel workbook
wb = load_workbook(excel_file_path, data_only=True)  # Use data_only=True to read evaluated values

# Create an empty list to store the data
data = []

# Iterate through all sheets in the workbook
for sheet in wb.sheetnames:
    # Read each sheet as a DataFrame
    df = pd.read_excel(excel_file_path, sheet_name=sheet, header=None)
    df = df.dropna(how='all')
    data.append(df)

# Now, 'data' contains a list of DataFrames, each representing a sheet in the Excel file
# Each DataFrame contains all the values and formulas present in the corresponding sheet

In [43]:
data

[      0
 0  Pres
 1   Abs,
                  0      1                           2          3   \
 0   Date:05/08/2023    NaN  Module: Study Period D,RS3        NaN
 1        Student ID  AC/IT                         Att  Total Hrs
 2        ATMC220611     AC                          27        NaN
 3        ATMC230395     IT                          16        NaN
 4        ATMC230367     IT                          12        NaN
 5        ATMC230168     AC                          11        NaN
 6        ATMC230498     IT                           8        NaN
 7        ATMC230422     AC                          11        NaN
 8        ATMC230410     IT                          10        NaN
 9        ATMC230464     IT                           8        NaN
 10       ATMC230153     IT                           6        NaN
 11       ATMC230473     IT                           7        NaN
 12       ATMC230546     IT                           2        NaN
 13       ATMC230522     AC                           2        NaN
 14       ATMC230453     IT                           8        NaN
 15       ATMC230549     AC                         NaN        NaN
 16       ATMC230557     AC                         NaN        NaN
 17       ATMC230564     IT                         NaN        NaN
 18       ATMC230569     IT                         NaN        NaN
 19       ATMC220450     IT                         NaN        NaN
 20       ATMC230218     IT                         NaN        NaN
 22              NaN    NaN                         NaN        NaN
 23              NaN    NaN                         NaN        NaN
 24              NaN    NaN                         NaN        NaN
 25              NaN    NaN                         NaN        NaN
 26              NaN    NaN                         NaN        NaN
 27              NaN    NaN                         NaN        NaN
 28              NaN    NaN                         NaN        NaN
 34              NaN    NaN                         NaN        NaN
 98           5.15pm    NaN                         NaN        NaN

                 4                  5               6                     7   \
 0              NaN  Class:Mel Sat. 01             NaN                   NaN
 1        Last Name         First Name  Preferred name                 Notes
 2             GARG            KASHISH         Kashish                   NaN
 3            PABBA              RAHUL           Rahul                   NaN
 4             ZHOU            ZHAOHUI         Vincent                   NaN
 5       NAOTUNNAGE   SACHITH VIMUKTHI         Sachith                   NaN
 6   Akashjot Singh           Akashjot           Akash                   NaN
 7            AHMED             FARJAN          Farjan                   NaN
 8            CHENG           HAN-FANG            Anna                   NaN
 9         Yongchao                 XU             Yon                   NaN
 10  Mai Thanh Thao                 HA             Mai                   NaN
 11            KHAN      Fizza Taimoor           Fizza                   NaN
 12           ANDRE    Louis Nicholas            Louis                   NaN
 13               .        Kulvir Kaur          Kulvir                   NaN
 14           SHAIK       ABDUL MAHEER             NaN  Transferred from Wed
 15    Mansi Sharma                  .             NaN           New Student
 16            Anya                GUO             NaN           New Student
 17            Zian                LIU             NaN           New Student
 18            CHAN             Mei Yu             NaN           New Student
 19             PEI                FEI             NaN      Attendance Hours
 20           FAHAD   MD MUMENAL ISLAM             NaN      Attendance Hours
 22             NaN                NaN             NaN                   NaN
 23             NaN                NaN             NaN                   NaN
 24             NaN                NaN             NaN                   NaN
 25             NaN                NaN             NaN                   NaN
 26             NaN                NaN             NaN                   NaN
 27             NaN                NaN             NaN                   NaN
 28             NaN                NaN             NaN                   NaN
 34             NaN                                NaN                   NaN
 98             NaN                NaN             NaN                   NaN

                         8                                    9   ...  \
 0   Trainer: Adrian White                                   NaN  ...
 1       9:00 AM - 11:00 AM  Morning Break\n(11:00 AM- 11:15 AM)  ...
 2                  Present                                    2  ...
 3                  Present                                    2  ...
 4                  Present                                    2  ...
 5                   Absent                                    0  ...
 6                  Present                                    2  ...
 7                  Present                                    2  ...
 8                  Present                                    2  ...
 9                  Present                                    2  ...
 10                 Present                                    2  ...
 11                 Present                                    2  ...
 12                 Present                                    2  ...
 13                 Present                                    2  ...
 14                 Present                                    2  ...
 15                 Present                                    2  ...
 16                 Present                                    2  ...
 17                 Present                                    2  ...
 18                 Present                                    2  ...
 19                 Present                                    2  ...
 20                 Present                                    2  ...
 22                     NaN                                  NaN  ...
 23                     NaN                                  NaN  ...
 24                     NaN                                  NaN  ...
 25                     NaN                                  NaN  ...
 26                     NaN                                  NaN  ...
 27                     NaN                                  NaN  ...
 28                     NaN                                  NaN  ...
 34                     NaN                                  NaN  ...
 98                     NaN                                  NaN  ...

              16                      17  18  \
 0            19                     NaN NaN
 1   Total Hours  S.S Use Only. Lateness NaN
 2             8                     NaN NaN
 3             8                     NaN NaN
 4           7.5          2 hour 45 mins NaN
 5             0                  26 hrs NaN
 6             8                     NaN NaN
 7             8                11 hours NaN
 8             8                     NaN NaN
 9             8                     NaN NaN
 10            8                     NaN NaN
 11            8     4 hours and 45 mins NaN
 12            8                     NaN NaN
 13            8                     NaN NaN
 14            8                     NaN NaN
 15            8                     NaN NaN
 16            8                     NaN NaN
 17            8                     NaN NaN
 18            8                     NaN NaN
 19            8                     NaN NaN
 20            8                     NaN NaN
 22          NaN                     NaN NaN
 23          NaN                     NaN NaN
 24          NaN                     NaN NaN
 25          NaN                     NaN NaN
 26          NaN                     NaN NaN
 27          NaN                     NaN NaN
 28          NaN                     NaN NaN
 34          NaN                     NaN NaN
 98          NaN                     NaN NaN

                                                    19       20        21  \
 0                                                 NaN      NaN       NaN
 1                                                 NaN  present  feedback
 2                                                 NaN        1       Mai
 3                                                 NaN        7     Fizza
 4                                                 NaN        5      Anna
 5   walked out of class with mobile without a word...        2     Rahul
 6                                                 NaN       10       Mai
 7                                                 NaN        9     Fizza
 8                                                 NaN        4    Farjan
 9                                                 NaN        8   Vincent
 10                                                NaN        6   Vincent
 11                                                NaN        3     Rahul
 12                                                NaN      NaN       NaN
 13                                                NaN      NaN       NaN
 14                                                NaN      NaN       NaN
 15                                                NaN      NaN       NaN
 16                                                NaN      NaN       NaN
 17                                                NaN      NaN       NaN
 18                                                NaN      NaN       NaN
 19                                                NaN      NaN       NaN
 20                                                NaN      NaN       NaN
 22                                                NaN      NaN       NaN
 23                                                NaN      NaN       NaN
 24                                                NaN      NaN       NaN
 25                                                NaN      NaN       NaN
 26                                                NaN      NaN       NaN
 27                                                NaN      NaN       NaN
 28                                                NaN      NaN       NaN
 34                                                NaN      NaN       NaN
 98                                                NaN      NaN       NaN

           22  23      24      25
 0        NaN NaN     NaN     NaN
 1        NaN NaN     NaN     NaN
 2    Sachith NaN     NaN     NaN
 3        Yon NaN     NaN  Adrian
 4    Kashish NaN     NaN     NaN
 5     Farjan NaN     NaN     NaN
 6    Sachith NaN     NaN     NaN
 7        Yon NaN  adrian     NaN
 8   Tianchen NaN     NaN     NaN
 9    Kashish NaN     NaN     NaN
 10  Tianchen NaN     NaN     NaN
 11    Arkash NaN     NaN     NaN
 12       NaN NaN     NaN     NaN
 13       NaN NaN     NaN     NaN
 14       NaN NaN     NaN     NaN
 15       NaN NaN     NaN     NaN
 16       NaN NaN     NaN     NaN
 17       NaN NaN     NaN     NaN
 18       NaN NaN     NaN     NaN
 19       NaN NaN     NaN     NaN
 20       NaN NaN     NaN     NaN
 22       NaN NaN     NaN     NaN
 23       NaN NaN     NaN     NaN
 24       NaN NaN     NaN     NaN
 25       NaN NaN     NaN     NaN
 26       NaN NaN     NaN     NaN
 27       NaN NaN     NaN     NaN
 28       NaN NaN     NaN     NaN
 34       NaN NaN     NaN     NaN
 98       NaN NaN     NaN     NaN

 [30 rows x 26 columns],
                  0      1                           2          3   \
 0   Date:12/08/2023    NaN  Module: Study Period D,RS4        NaN
 1        Student ID  AC/IT                         Att  Total Hrs
 2        ATMC220611     AC                          28        NaN
 3        ATMC230395     IT                          17        NaN
 4        ATMC230367     IT                          13        NaN
 5        ATMC230168     AC                          11        NaN
 6        ATMC230498     IT                           9        NaN
 7        ATMC230422     AC                          12        NaN
 8        ATMC230410     IT                          11        NaN
 9        ATMC230464     IT                           9        NaN
 10       ATMC230153     IT                           7        NaN
 11       ATMC230473     IT                           8        NaN
 12       ATMC230546     IT                           3        NaN
 13       ATMC230522     AC                           3        NaN
 14       ATMC230453     IT                           9        NaN
 15       ATMC230549     AC                           1        NaN
 16       ATMC230557     AC                           1        NaN
 17       ATMC230564     IT                           1        NaN
 18       ATMC230569     IT                           1        NaN
 19       ATMC230218     IT                         NaN        NaN
 20       ATMC230317     AC                         NaN        NaN
 22              NaN    NaN                         NaN        NaN
 23              NaN    NaN                         NaN        NaN
 24              NaN    NaN                         NaN        NaN
 25              NaN    NaN                         NaN        NaN
 26              NaN    NaN                         NaN        NaN
 27              NaN    NaN                         NaN        NaN
 28              NaN    NaN                         NaN        NaN
 34              NaN    NaN                         NaN        NaN
 98           5.15pm    NaN                         NaN        NaN

                 4                  5               6                 7   \
 0              NaN  Class:Mel Sat. 01             NaN               NaN
 1        Last Name         First Name  Preferred name             Notes
 2             GARG            KASHISH         Kashish               NaN
 3            PABBA              RAHUL           Rahul               NaN
 4             ZHOU            ZHAOHUI         Vincent               NaN
 5       NAOTUNNAGE   SACHITH VIMUKTHI         Sachith               NaN
 6   Akashjot Singh           Akashjot           Akash               NaN
 7            AHMED             FARJAN          Farjan               NaN
 8            CHENG           HAN-FANG            Anna               NaN
 9         Yongchao                 XU             Yon               NaN
 10  Mai Thanh Thao                 HA             Mai               NaN
 11            KHAN      Fizza Taimoor           Fizza               NaN
 12           ANDRE    Louis Nicholas            Louis               NaN
 13               .        Kulvir Kaur          Kulvir               NaN
 14           SHAIK       ABDUL MAHEER          Maheer               NaN
 15    Mansi Sharma                  .           Mansi               NaN
 16            Anya                GUO            Anya               NaN
 17            Zian                LIU            Zian               NaN
 18            CHAN             Mei Yu             Mei               NaN
 19           FAHAD   MD MUMENUL ISLAM             NaN  Attendance Hours
 20            LAMA        SAMIKCHHYA              NaN  Attendance Hours
 22             NaN                NaN             NaN               NaN
 23             NaN                NaN             NaN               NaN
 24             NaN                NaN             NaN               NaN
 25             NaN                NaN             NaN               NaN
 26             NaN                NaN             NaN               NaN
 27             NaN                NaN             NaN               NaN
 28             NaN                NaN             NaN               NaN
 34             NaN                                NaN               NaN
 98             NaN                NaN             NaN               NaN

                         8                                    9   ...  \
 0   Trainer: Adrian White                                   NaN  ...
 1       9:00 AM - 11:00 AM  Morning Break\n(11:00 AM- 11:15 AM)  ...
 2                      NaN                                  NaN  ...
 3                      NaN                                  NaN  ...
 4                      NaN                                  NaN  ...
 5                      NaN                                  NaN  ...
 6                      NaN                                  NaN  ...
 7                      NaN                                  NaN  ...
 8                      NaN                                  NaN  ...
 9                      NaN                                  NaN  ...
 10                     NaN                                  NaN  ...
 11                     NaN                                  NaN  ...
 12                     NaN                                  NaN  ...
 13                     NaN                                  NaN  ...
 14                     NaN                                  NaN  ...
 15                     NaN                                  NaN  ...
 16                     NaN                                  NaN  ...
 17                     NaN                                  NaN  ...
 18                     NaN                                  NaN  ...
 19                     NaN                                  NaN  ...
 20                     NaN                                  NaN  ...
 22                     NaN                                  NaN  ...
 23                     NaN                                  NaN  ...
 24                     NaN                                  NaN  ...
 25                     NaN                                  NaN  ...
 26                     NaN                                  NaN  ...
 27                     NaN                                  NaN  ...
 28                     NaN                                  NaN  ...
 34                     NaN                                  NaN  ...
 98                     NaN                                  NaN  ...

              16                      17  18  \
 0            19                     NaN NaN
 1   Total Hours  S.S Use Only. Lateness NaN
 2             0                     NaN NaN
 3             0                     NaN NaN
 4             0          2 hour 45 mins NaN
 5             0                  26 hrs NaN
 6             0                     NaN NaN
 7             0                11 hours NaN
 8             0                     NaN NaN
 9             0                     NaN NaN
 10            0                     NaN NaN
 11            0     4 hours and 45 mins NaN
 12            0                     NaN NaN
 13            0                     NaN NaN
 14            0                     NaN NaN
 15            0                     NaN NaN
 16            0                     NaN NaN
 17            0                     NaN NaN
 18            0                     NaN NaN
 19            0                     NaN NaN
 20            0                     NaN NaN
 22          NaN                     NaN NaN
 23          NaN                     NaN NaN
 24          NaN                     NaN NaN
 25          NaN                     NaN NaN
 26          NaN                     NaN NaN
 27          NaN                     NaN NaN
 28          NaN                     NaN NaN
 34          NaN                     NaN NaN
 98          NaN                     NaN NaN

                                                    19       20        21  \
 0                                                 NaN      NaN       NaN
 1                                                 NaN  present  feedback
 2                                                 NaN        1       Mai
 3                                                 NaN        7     Fizza
 4                                                 NaN        5      Anna
 5   walked out of class with mobile without a word...        2     Rahul
 6                                                 NaN       10       Mai

In [44]:
data[0]

      0
0  Pres
1   Abs

In [45]:
len(data)

3

In [46]:
data[1]

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Date:05/08/2023,NaN,"Module: Study Period D,RS3",NaN,NaN,Class:Mel Sat. 01,NaN,NaN,Trainer: Adrian White,NaN,...,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Student ID,AC/IT,Att,Total Hrs,Last Name,First Name,Preferred name,Notes,9:00 AM - 11:00 AM,Morning Break\n(11:00 AM- 11:15 AM),...,Total Hours,S.S Use Only. Lateness,NaN,NaN,present,feedback,NaN,NaN,NaN,NaN
2,ATMC220611,AC,27,NaN,GARG,KASHISH,Kashish,NaN,Present,2,...,8,NaN,NaN,NaN,1,Mai,Sachith,NaN,NaN,NaN
3,ATMC230395,IT,16,NaN,PABBA,RAHUL,Rahul,NaN,Present,2,...,8,NaN,NaN,NaN,7,Fizza,Yon,NaN,NaN,Adrian
4,ATMC230367,IT,12,NaN,ZHOU,ZHAOHUI,Vincent,NaN,Present,2,...,7.5,2 hour 45 mins,NaN,NaN,5,Anna,Kashish,NaN,NaN,NaN
5,ATMC230168,AC,11,NaN,NAOTUNNAGE,SACHITH VIMUKTHI,Sachith,NaN,Absent,0,...,0,26 hrs,NaN,walked out of class with mobile without a word...,2,Rahul,Farjan,NaN,NaN,NaN
6,ATMC230498,IT,8,NaN,Akashjot Singh,Akashjot,Akash,NaN,Present,2,...,8,NaN,NaN,NaN,10,Mai,Sachith,NaN,NaN,NaN
7,ATMC230422,AC,11,NaN,AHMED,FARJAN,Farjan,NaN,Present,2,...,8,11 hours,NaN,NaN,9,Fizza,Yon,NaN,adrian,NaN
8,ATMC230410,IT,10,NaN,CHENG,HAN-FANG,Anna,NaN,Present,2,...,8,NaN,NaN,NaN,4,Farjan,Tianchen,NaN,NaN,NaN
9,ATMC230464,IT,8,NaN,Yongchao,XU,Yon,NaN,Present,2,...,8,NaN,NaN,NaN,8,Vincent,Kashish,NaN,NaN,NaN
10,ATMC230153,IT,6,NaN,Mai Thanh Thao,HA,Mai,NaN,Present,2,...,8,NaN,NaN,NaN,6,Vincent,Tianchen,NaN,NaN,NaN
11,ATMC230473,IT,7,NaN,KHAN,Fizza Taimoor,Fizza,NaN,Present,2,...,8,4 hours and 45 mins,NaN,NaN,3,Rahul,Arkash,NaN,NaN,NaN
12,ATMC230546,IT,2,NaN,ANDRE,Louis Nicholas,Louis,NaN,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,ATMC230522,AC,2,NaN,.,Kulvir Kaur,Kulvir,NaN,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ATMC230453,IT,8,NaN,SHAIK,ABDUL MAHEER,NaN,Transferred from Wed,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,ATMC230549,AC,NaN,NaN,Mansi Sharma,.,NaN,New Student,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,ATMC230557,AC,NaN,NaN,Anya,GUO,NaN,New Student,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ATMC230564,IT,NaN,NaN,Zian,LIU,NaN,New Student,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,ATMC230569,IT,NaN,NaN,CHAN,Mei Yu,NaN,New Student,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ATMC220450,IT,NaN,NaN,PEI,FEI,NaN,Attendance Hours,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,ATMC230218,IT,NaN,NaN,FAHAD,MD MUMENAL ISLAM,NaN,Attendance Hours,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,5.15pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
data[2]

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Date:12/08/2023,NaN,"Module: Study Period D,RS4",NaN,NaN,Class:Mel Sat. 01,NaN,NaN,Trainer: Adrian White,NaN,...,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Student ID,AC/IT,Att,Total Hrs,Last Name,First Name,Preferred name,Notes,9:00 AM - 11:00 AM,Morning Break\n(11:00 AM- 11:15 AM),...,Total Hours,S.S Use Only. Lateness,NaN,NaN,present,feedback,NaN,NaN,NaN,NaN
2,ATMC220611,AC,28,NaN,GARG,KASHISH,Kashish,NaN,NaN,NaN,...,0,NaN,NaN,NaN,1,Mai,Sachith,NaN,NaN,NaN
3,ATMC230395,IT,17,NaN,PABBA,RAHUL,Rahul,NaN,NaN,NaN,...,0,NaN,NaN,NaN,7,Fizza,Yon,NaN,NaN,Adrian
4,ATMC230367,IT,13,NaN,ZHOU,ZHAOHUI,Vincent,NaN,NaN,NaN,...,0,2 hour 45 mins,NaN,NaN,5,Anna,Kashish,NaN,NaN,NaN
5,ATMC230168,AC,11,NaN,NAOTUNNAGE,SACHITH VIMUKTHI,Sachith,NaN,NaN,NaN,...,0,26 hrs,NaN,walked out of class with mobile without a word...,2,Rahul,Farjan,NaN,NaN,NaN
6,ATMC230498,IT,9,NaN,Akashjot Singh,Akashjot,Akash,NaN,NaN,NaN,...,0,NaN,NaN,NaN,10,Mai,Sachith,NaN,NaN,NaN
7,ATMC230422,AC,12,NaN,AHMED,FARJAN,Farjan,NaN,NaN,NaN,...,0,11 hours,NaN,NaN,9,Fizza,Yon,NaN,adrian,NaN
8,ATMC230410,IT,11,NaN,CHENG,HAN-FANG,Anna,NaN,NaN,NaN,...,0,NaN,NaN,NaN,4,Farjan,Tianchen,NaN,NaN,NaN
9,ATMC230464,IT,9,NaN,Yongchao,XU,Yon,NaN,NaN,NaN,...,0,NaN,NaN,NaN,8,Vincent,Kashish,NaN,NaN,NaN
10,ATMC230153,IT,7,NaN,Mai Thanh Thao,HA,Mai,NaN,NaN,NaN,...,0,NaN,NaN,NaN,6,Vincent,Tianchen,NaN,NaN,NaN
11,ATMC230473,IT,8,NaN,KHAN,Fizza Taimoor,Fizza,NaN,NaN,NaN,...,0,4 hours and 45 mins,NaN,NaN,3,Rahul,Arkash,NaN,NaN,NaN
12,ATMC230546,IT,3,NaN,ANDRE,Louis Nicholas,Louis,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,ATMC230522,AC,3,NaN,.,Kulvir Kaur,Kulvir,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ATMC230453,IT,9,NaN,SHAIK,ABDUL MAHEER,Maheer,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,ATMC230549,AC,1,NaN,Mansi Sharma,.,Mansi,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,ATMC230557,AC,1,NaN,Anya,GUO,Anya,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ATMC230564,IT,1,NaN,Zian,LIU,Zian,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,ATMC230569,IT,1,NaN,CHAN,Mei Yu,Mei,NaN,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ATMC230218,IT,NaN,NaN,FAHAD,MD MUMENUL ISLAM,NaN,Attendance Hours,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,ATMC230317,AC,NaN,NaN,LAMA,SAMIKCHHYA,NaN,Attendance Hours,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,5.15pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
for idx, rows in data[1].iterrows():
    print(rows)

0                Date:05/08/2023
1                            NaN
2     Module: Study Period D,RS3
3                            NaN
4                            NaN
5              Class:Mel Sat. 01
6                            NaN
7                            NaN
8         Trainer: Adrian White
9                            NaN
10                           NaN
11                           NaN
12                           NaN
13                           NaN
14                           NaN
15                  Class Total:
16                            19
17                           NaN
18                           NaN
19                           NaN
20                           NaN
21                           NaN
22                           NaN
23                           NaN
24                           NaN
25                           NaN
Name: 0, dtype: object
0                               Student ID
1                                    AC/IT
2                                      Att
3                                Total Hrs
4                                Last Name
5                               First Name
6                           Preferred name
7                                    Notes
8                       9:00 AM - 11:00 AM
9      Morning Break\n(11:00 AM- 11:15 AM)
10                      11:15 AM - 1:15 PM
11         Lunch Break\n(1:15 PM -1:45 PM)
12                       1:45 PM - 3:45 PM
13           Tea Break\n(3:45 PM- 4:00 PM)
14                       4:00 PM - 5:30 PM
15    No of Hours at Final Session(5:30PM)
16                             Total Hours
17                  S.S Use Only. Lateness
18                                     NaN
19                                     NaN
20                                 present
21                                feedback
22                                     NaN
23                                     NaN
24                                     NaN
25                                     NaN
Name: 1, dtype: object
0     ATMC220611
1             AC
2             27
3            NaN
4           GARG
5        KASHISH
6        Kashish
7            NaN
8        Present
9              2
10       Present
11             2
12       Present
13             2
14       Present
15             2
16             8
17           NaN
18           NaN
19           NaN
20             1
21           Mai
22       Sachith
23           NaN
24           NaN
25           NaN
Name: 2, dtype: object
0     ATMC230395
1             IT
2             16
3            NaN
4          PABBA
5          RAHUL
6          Rahul
7            NaN
8        Present
9              2
10       Present
11             2
12       Present
13             2
14       Present
15             2
16             8
17           NaN
18           NaN
19           NaN
20             7
21         Fizza
22           Yon
23           NaN
24           NaN
25        Adrian
Name: 3, dtype: object
0         ATMC230367
1                 IT
2                 12
3                NaN
4               ZHOU
5            ZHAOHUI
6            Vincent
7                NaN
8            Present
9                  2
10           Present
11                 2
12       Late 30mins
13               1.5
14           Present
15                 2
16               7.5
17    2 hour 45 mins
18               NaN
19               NaN
20                 5
21              Anna
22           Kashish
23               NaN
24               NaN
25               NaN
Name: 4, dtype: object
0                                            ATMC230168
1                                                    AC
2                                                    11
3                                                   NaN
4                                            NAOTUNNAGE
5                                      SACHITH VIMUKTHI
6                                               Sachith
7                                                   NaN
8                                                Absent
9                                                     0
10                                               Absent
11                                                    0
12                                               Absent
13                                                    0
14                                               Absent
15                                                    0
16                                                    0
17                                               26 hrs
18                                                  NaN
19    walked out of class with mobile without a word...
20                                                    2
21                                                Rahul
22                                               Farjan
23                                                  NaN
24                                                  NaN
25                                                  NaN
Name: 5, dtype: object
0         ATMC230498
1                 IT
2                  8
3                NaN
4     Akashjot Singh
5           Akashjot
6              Akash
7                NaN
8            Present
9                  2
10           Present
11                 2
12           Present
13                 2
14           Present
15                 2
16                 8
17               NaN
18               NaN
19               NaN
20                10
21               Mai
22           Sachith
23               NaN
24               NaN
25               NaN
Name: 6, dtype: object
0     ATMC230422
1             AC
2             11
3            NaN
4          AHMED
5         FARJAN
6         Farjan
7            NaN
8        Present
9              2
10       Present
11             2
12       Present
13             2
14       Present
15             2
16             8
17      11 hours
18           NaN
19           NaN
20             9
21         Fizza
22           Yon
23           NaN
24        adrian
25           NaN
Name: 7, dtype: object
0     ATMC230410
1             IT
2             10
3            NaN
4          CHENG
5       HAN-FANG
6           Anna
7            NaN
8        Present
9              2
10       Present
11             2
12       Present
13             2
14       Present
15             2
16             8
17           NaN
18           NaN
19           NaN
20             4
21        Farjan
22      Tianchen
23           NaN
24           NaN
25           NaN
Name: 8, dtype: object
0     ATMC230464
1             IT
2              8
3            NaN
4       Yongchao
5             XU
6            Yon
7            NaN
8        Present
9              2
10       Present
11             2
12       Present
13             2
14       Present
15             2
16             8
17           NaN
18           NaN
19           NaN
20             8
21       Vincent
22       Kashish
23           NaN
24           NaN
25           NaN
Name: 9, dtype: object
0         ATMC230153
1                 IT
2                  6
3                NaN
4     Mai Thanh Thao
5                 HA
6                Mai
7                NaN
8            Present
9                  2
10           Present
11                 2
12           Present
13                 2
14           Present
15                 2
16                 8
17               NaN
18               NaN
19               NaN
20                 6
21           Vincent
22          Tianchen
23               NaN
24               NaN
25               NaN
Name: 10, dtype: object
0              ATMC230473
1                      IT
2                       7
3                     NaN
4                    KHAN
5           Fizza Taimoor
6                   Fizza
7                     NaN
8                 Present
9                       2
10                Present
11                      2
12                Present
13                      2
14                Present
15                      2
16                      8
17    4 hours and 45 mins
18                    NaN
19                    NaN
20                      3
21                  Rahul
22                 Arkash
23                    NaN
24                    NaN
25                    NaN
Name: 11, dtype: object
0          ATMC230546
1                  IT
2                   2
3                 NaN
4               ANDRE
5     Louis Nicholas
6               Louis
7                 NaN
8             Present
9                   2
10            Present
11                  2
12            Present
13                  2
14            Present
15                  2
16                  8
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
Name: 12, dtype: object
0      ATMC230522
1              AC
2               2
3             NaN
4               .
5     Kulvir Kaur
6          Kulvir
7             NaN
8         Present
9               2
10        Present
11              2
12        Present
13              2
14        Present
15              2
16              8
17            NaN
18            NaN
19            NaN
20            NaN
21            NaN
22            NaN
23            NaN
24            NaN
25            NaN
Name: 13, dtype: object
0               ATMC230453
1                       IT
2                        8
3                      NaN
4                    SHAIK
5             ABDUL MAHEER
6                      NaN
7     Transferred from Wed
8                  Present
9                        2
10                 Present
11                       2
12                 Present
13                       2
14                 Present
15                       2
16                       8
17                     NaN
18                     NaN
19                     NaN
20                     NaN
21                     NaN
22                     NaN
23                     NaN
24                     NaN
25                     NaN
Name: 14, dtype: object
0       ATMC230549
1               AC
2              NaN
3              NaN
4     Mansi Sharma
5                .
6              NaN
7      New Student
8          Present
9                2
10         Present
11               2
12         Present
13               2
14         Present
15               2
16               8
17             NaN
18             NaN
19             NaN
20             NaN
21             NaN
22             NaN
23             NaN
24             NaN
25             NaN
Name: 15, dtype: object
0      ATMC230557
1              AC
2             NaN
3             NaN
4            Anya
5             GUO
6             NaN
7     New Student
8         Present
9               2
10        Present
11              2
12        Present
13              2
14        Present
15              2
16              8
17            NaN
18            NaN
19            NaN
20            NaN
21            NaN
22            NaN
23            NaN
24            NaN
25            NaN
Name: 16, dtype: object
0      ATMC230564
1              IT
2             NaN
3             NaN
4            Zian
5             LIU
6             NaN
7     New Student
8         Present
9               2
10        Present
11              2
12        Present
13              2
14        Present
15              2
16              8
17            NaN
18            NaN
19            NaN
20            NaN
21            NaN
22            NaN
23            NaN
24            NaN
25            NaN
Name: 17, dtype: object
0      ATMC230569
1              IT
2             NaN
3             NaN
4            CHAN
5          Mei Yu
6             NaN
7     New Student
8         Present
9               2
10        Present
11              2
12        Present
13              2
14        Present
15              2
16              8
17            NaN
18            NaN
19            NaN
20            NaN
21            NaN
22            NaN
23            NaN
24            NaN
25            NaN
Name: 18, dtype: object
0           ATMC220450
1                   IT
2                  NaN
3                  NaN
4                  PEI
5                  FEI
6                  NaN
7     Attendance Hours
8              Present
9                    2
10             Present
11                   2
12             Present
13                   2
14             Present
15                   2
16                   8
17                 NaN
18                 NaN
19                 NaN
20                 NaN
21                 NaN
22                 NaN
23                 NaN
24                 NaN
25                 NaN
Name: 19, dtype: object
0           ATMC230218
1                   IT
2                  NaN
3                  NaN
4                FAHAD
5     MD MUMENAL ISLAM
6                  NaN
7     Attendance Hours
8              Present
9                    2
10             Present
11                   2
12             Present
13                   2
14             Present
15                   2
16                   8
17                 NaN
18                 NaN
19                 NaN
20                 NaN
21                 NaN
22                 NaN
23                 NaN
24                 NaN
25                 NaN
Name: 20, dtype: object
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
5                                NaN
6                                NaN
7                                NaN
8                                NaN
9                                NaN
10    Please don't remove this part
11                               NaN
12                               NaN
13                               NaN
14                               NaN
15                               NaN
16                               NaN
17                               NaN
18                               NaN
19                               NaN
20                               NaN
21                               NaN
22                               NaN
23                               NaN
24                               NaN
25                               NaN
Name: 22, dtype: object
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10    * Morning Break and Tea Break counted in total...
11                                                  NaN
12                                                  NaN
13                                                  NaN
14                                                  NaN
15                                                  NaN
16                                                  NaN
17                                                  NaN
18                                                  NaN
19                                                  NaN
20                                                  NaN
21                                                  NaN
22                                                  NaN
23                                                  NaN
24                                                  NaN
25                                                  NaN
Name: 23, dtype: object
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    KEY
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
Name: 24, dtype: object
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11    A-Absent
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
Name: 25, dtype: object
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11    P-Present
12          NaN
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          NaN
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
Name: 26, dtype: object
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
5                  NaN
6                  NaN
7                  NaN
8                  NaN
9                  NaN
10                 NaN
11    L-Late (15 mins)
12                 NaN
13                 NaN
14                 NaN
15                 NaN
16                 NaN
17                 NaN
18                 NaN
19                 NaN
20                 NaN
21                 NaN
22                 NaN
23                 NaN
24                 NaN
25                 NaN
Name: 27, dtype: object
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11    E-Excused
12          NaN
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          NaN
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
Name: 28, dtype: object
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
Name: 34, dtype: object
0     5.15pm
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
Name: 98, dtype: object

In [49]:
df = data[1]

In [61]:
metadata = {}

for index in range(len(df.iloc[0])):
    if pd.notna(df.iloc[0][index]):
        try:
            key = df.iloc[0][index].split(':')[0]
            if key.lower() == 'class total':
                value = df.iloc[0][index+1]
            else:
                value = df.iloc[0][index].split(':')[1]
            metadata[key] = value
        except:
            print('Invalid data format')

# Print the resulting dictionary
print(metadata)

Invalid data format
{'Date': '05/08/2023', 'Module': ' Study Period D,RS3', 'Class': 'Mel Sat. 01', 'Trainer': ' Adrian White ', 'Class Total': 19}

In [62]:
metadata

{'Date': '05/08/2023',
 'Module': ' Study Period D,RS3',
 'Class': 'Mel Sat. 01',
 'Trainer': ' Adrian White ',
 'Class Total': 19}

In [63]:
data[1]

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Date:05/08/2023,NaN,"Module: Study Period D,RS3",NaN,NaN,Class:Mel Sat. 01,NaN,NaN,Trainer: Adrian White,NaN,...,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Student ID,AC/IT,Att,Total Hrs,Last Name,First Name,Preferred name,Notes,9:00 AM - 11:00 AM,Morning Break\n(11:00 AM- 11:15 AM),...,Total Hours,S.S Use Only. Lateness,NaN,NaN,present,feedback,NaN,NaN,NaN,NaN
2,ATMC220611,AC,27,NaN,GARG,KASHISH,Kashish,NaN,Present,2,...,8,NaN,NaN,NaN,1,Mai,Sachith,NaN,NaN,NaN
3,ATMC230395,IT,16,NaN,PABBA,RAHUL,Rahul,NaN,Present,2,...,8,NaN,NaN,NaN,7,Fizza,Yon,NaN,NaN,Adrian
4,ATMC230367,IT,12,NaN,ZHOU,ZHAOHUI,Vincent,NaN,Present,2,...,7.5,2 hour 45 mins,NaN,NaN,5,Anna,Kashish,NaN,NaN,NaN
5,ATMC230168,AC,11,NaN,NAOTUNNAGE,SACHITH VIMUKTHI,Sachith,NaN,Absent,0,...,0,26 hrs,NaN,walked out of class with mobile without a word...,2,Rahul,Farjan,NaN,NaN,NaN
6,ATMC230498,IT,8,NaN,Akashjot Singh,Akashjot,Akash,NaN,Present,2,...,8,NaN,NaN,NaN,10,Mai,Sachith,NaN,NaN,NaN
7,ATMC230422,AC,11,NaN,AHMED,FARJAN,Farjan,NaN,Present,2,...,8,11 hours,NaN,NaN,9,Fizza,Yon,NaN,adrian,NaN
8,ATMC230410,IT,10,NaN,CHENG,HAN-FANG,Anna,NaN,Present,2,...,8,NaN,NaN,NaN,4,Farjan,Tianchen,NaN,NaN,NaN
9,ATMC230464,IT,8,NaN,Yongchao,XU,Yon,NaN,Present,2,...,8,NaN,NaN,NaN,8,Vincent,Kashish,NaN,NaN,NaN
10,ATMC230153,IT,6,NaN,Mai Thanh Thao,HA,Mai,NaN,Present,2,...,8,NaN,NaN,NaN,6,Vincent,Tianchen,NaN,NaN,NaN
11,ATMC230473,IT,7,NaN,KHAN,Fizza Taimoor,Fizza,NaN,Present,2,...,8,4 hours and 45 mins,NaN,NaN,3,Rahul,Arkash,NaN,NaN,NaN
12,ATMC230546,IT,2,NaN,ANDRE,Louis Nicholas,Louis,NaN,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,ATMC230522,AC,2,NaN,.,Kulvir Kaur,Kulvir,NaN,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ATMC230453,IT,8,NaN,SHAIK,ABDUL MAHEER,NaN,Transferred from Wed,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,ATMC230549,AC,NaN,NaN,Mansi Sharma,.,NaN,New Student,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,ATMC230557,AC,NaN,NaN,Anya,GUO,NaN,New Student,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ATMC230564,IT,NaN,NaN,Zian,LIU,NaN,New Student,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,ATMC230569,IT,NaN,NaN,CHAN,Mei Yu,NaN,New Student,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ATMC220450,IT,NaN,NaN,PEI,FEI,NaN,Attendance Hours,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,ATMC230218,IT,NaN,NaN,FAHAD,MD MUMENAL ISLAM,NaN,Attendance Hours,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,5.15pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
temp_df = df
temp_df = temp_df.drop(0)

# Set the second row as column names
temp_df.columns = temp_df.iloc[0]

# Reset the index
temp_df = temp_df.reset_index(drop=True)

temp_df = temp_df.drop(0)
# Print the resulting DataFrame
temp_df

1,Student ID,AC/IT,Att,Total Hrs,Last Name,First Name,Preferred name,Notes,9:00 AM - 11:00 AM,Morning Break\n(11:00 AM- 11:15 AM),...,Total Hours,S.S Use Only. Lateness,NaN,NaN,present,feedback,NaN,NaN,NaN,NaN
1,ATMC220611,AC,27,NaN,GARG,KASHISH,Kashish,NaN,Present,2,...,8,NaN,NaN,NaN,1,Mai,Sachith,NaN,NaN,NaN
2,ATMC230395,IT,16,NaN,PABBA,RAHUL,Rahul,NaN,Present,2,...,8,NaN,NaN,NaN,7,Fizza,Yon,NaN,NaN,Adrian
3,ATMC230367,IT,12,NaN,ZHOU,ZHAOHUI,Vincent,NaN,Present,2,...,7.5,2 hour 45 mins,NaN,NaN,5,Anna,Kashish,NaN,NaN,NaN
4,ATMC230168,AC,11,NaN,NAOTUNNAGE,SACHITH VIMUKTHI,Sachith,NaN,Absent,0,...,0,26 hrs,NaN,walked out of class with mobile without a word...,2,Rahul,Farjan,NaN,NaN,NaN
5,ATMC230498,IT,8,NaN,Akashjot Singh,Akashjot,Akash,NaN,Present,2,...,8,NaN,NaN,NaN,10,Mai,Sachith,NaN,NaN,NaN
6,ATMC230422,AC,11,NaN,AHMED,FARJAN,Farjan,NaN,Present,2,...,8,11 hours,NaN,NaN,9,Fizza,Yon,NaN,adrian,NaN
7,ATMC230410,IT,10,NaN,CHENG,HAN-FANG,Anna,NaN,Present,2,...,8,NaN,NaN,NaN,4,Farjan,Tianchen,NaN,NaN,NaN
8,ATMC230464,IT,8,NaN,Yongchao,XU,Yon,NaN,Present,2,...,8,NaN,NaN,NaN,8,Vincent,Kashish,NaN,NaN,NaN
9,ATMC230153,IT,6,NaN,Mai Thanh Thao,HA,Mai,NaN,Present,2,...,8,NaN,NaN,NaN,6,Vincent,Tianchen,NaN,NaN,NaN
10,ATMC230473,IT,7,NaN,KHAN,Fizza Taimoor,Fizza,NaN,Present,2,...,8,4 hours and 45 mins,NaN,NaN,3,Rahul,Arkash,NaN,NaN,NaN
11,ATMC230546,IT,2,NaN,ANDRE,Louis Nicholas,Louis,NaN,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,ATMC230522,AC,2,NaN,.,Kulvir Kaur,Kulvir,NaN,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,ATMC230453,IT,8,NaN,SHAIK,ABDUL MAHEER,NaN,Transferred from Wed,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ATMC230549,AC,NaN,NaN,Mansi Sharma,.,NaN,New Student,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,ATMC230557,AC,NaN,NaN,Anya,GUO,NaN,New Student,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,ATMC230564,IT,NaN,NaN,Zian,LIU,NaN,New Student,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ATMC230569,IT,NaN,NaN,CHAN,Mei Yu,NaN,New Student,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,ATMC220450,IT,NaN,NaN,PEI,FEI,NaN,Attendance Hours,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ATMC230218,IT,NaN,NaN,FAHAD,MD MUMENAL ISLAM,NaN,Attendance Hours,Present,2,...,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,5.15pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN