In [1]:
pwd

'/Users/kashisethia/prashant_projects/project2/attendance_tracker/admin_dasboard'

In [62]:
import pandas as pd
from openpyxl import load_workbook

In [73]:
def add_data_after_reading_csv_file(excel_file_path):
    wb = load_workbook(excel_file_path, data_only=True)  # Use data_only=True to read evaluated values

    # Create an empty list to store the data
    data = []
    
    # Iterate through all sheets in the workbook
    for sheet in wb.sheetnames:
        # Read each sheet as a DataFrame
        df = pd.read_excel(excel_file_path, sheet_name=sheet, header=None)
        df = df.dropna(how='all')
        data.append(df)

    for df in data:
        if 'date' in df.iloc[0][0].lower():
            metadata = {}
            for index in range(len(df.iloc[0])):
                if pd.notna(df.iloc[0][index]):
                    try:
                        key = df.iloc[0][index].split(':')[0].strip().lower()
                        if key.lower() == 'class total':
                            value = df.iloc[0][index+1]
                        else:
                            value = df.iloc[0][index].split(':')[1].strip()
                        metadata[key] = value
                    except:
                        pass
                        # print('Invalid data format')
            print(metadata)
            temp_df = df
            temp_df = temp_df.drop(0)
            
            # Set the second row as column names
            temp_df.columns = temp_df.iloc[0]
            
            # Reset the index
            temp_df = temp_df.reset_index(drop=True)
            
            temp_df = temp_df.drop(0)
            # Print the resulting DataFrame
            print(temp_df.columns)
            temp_df.columns = temp_df.columns.str.replace('\n',' ')
            print(temp_df.columns)

In [72]:
def add_data_after_reading_csv_file(excel_file_path):
    wb = load_workbook(excel_file_path, data_only=True)  # Use data_only=True to read evaluated values

    # Create an empty list to store the data
    data = []
    
    # Iterate through all sheets in the workbook
    for sheet in wb.sheetnames:
        # Read each sheet as a DataFrame
        df = pd.read_excel(excel_file_path, sheet_name=sheet, header=None)
        df = df.dropna(how='all')
        data.append(df)

    for df in data:
        if 'date' in df.iloc[0][0].lower():
            metadata = {}
            for index in range(len(df.iloc[0])):
                if pd.notna(df.iloc[0][index]):
                    try:
                        key = df.iloc[0][index].split(':')[0].strip().lower()
                        if key.lower() == 'class total':
                            value = df.iloc[0][index+1]
                        else:
                            value = df.iloc[0][index].split(':')[1].strip()
                        metadata[key] = value
                    except:
                        pass
                        # print('Invalid data format')
            print(metadata)
            temp_df = df
            temp_df = temp_df.drop(0)
            
            # Set the second row as column names
            temp_df.columns = temp_df.iloc[0]
            
            # Reset the index
            temp_df = temp_df.reset_index(drop=True)
            
            temp_df = temp_df.drop(0)
            selected_columns = [                          'Student ID',
                                      'AC/IT',
                                        'Att',
                                  'Last Name',
                                 'First Name',
                             'Preferred name',
                                      'Notes',
                         '9:00 AM - 11:00 AM',
        'Morning Break\n(11:00 AM- 11:15 AM)',
                         '11:15 AM - 1:15 PM',
            'Lunch Break\n(1:15 PM -1:45 PM)',
                          '1:45 PM - 3:45 PM',
              'Tea Break\n(3:45 PM- 4:00 PM)',
                          '4:00 PM - 5:30 PM',
       'No of Hours at Final Session(5:30PM)','Total Hours']
            selected_columns_student = ['Student ID',
                                      'AC/IT',
                                        'Att',
                                  'Last Name',
                                 'First Name',
                             'Preferred name']
            selected_columns_student_class = ['Student ID',
                                      'Notes',
                         '9:00 AM - 11:00 AM',
        'Morning Break\n(11:00 AM- 11:15 AM)',
                         '11:15 AM - 1:15 PM',
            'Lunch Break\n(1:15 PM -1:45 PM)',
                          '1:45 PM - 3:45 PM',
              'Tea Break\n(3:45 PM- 4:00 PM)',
                          '4:00 PM - 5:30 PM',
       'No of Hours at Final Session(5:30PM)','Total Hours']
            
            
            # Print the resulting DataFrame
            new_df = temp_df[selected_columns]
            
            return ()

In [74]:
file_name = '/Users/kashisethia/prashant_projects/project2/attendance_tracker/Mel Sat.01AdrianWhite August 2023.xlsx'
add_data_after_reading_csv_file(file_name)

{'date': '05/08/2023', 'module': 'Study Period D,RS3', 'class': 'Mel Sat. 01', 'trainer': 'Adrian White', 'class total': 19}
Index([                          'Student ID',
                                      'AC/IT',
                                        'Att',
                                  'Total Hrs',
                                  'Last Name',
                                 'First Name',
                             'Preferred name',
                                      'Notes',
                         '9:00 AM - 11:00 AM',
        'Morning Break\n(11:00 AM- 11:15 AM)',
                         '11:15 AM - 1:15 PM',
            'Lunch Break\n(1:15 PM -1:45 PM)',
                          '1:45 PM - 3:45 PM',
              'Tea Break\n(3:45 PM- 4:00 PM)',
                          '4:00 PM - 5:30 PM',
       'No of Hours at Final Session(5:30PM)',
                                'Total Hours',
                     'S.S Use Only. Lateness',
                                          nan,
                                          nan,
                                    'present',
                                   'feedback',
                                          nan,
                                          nan,
                                          nan,
                                          nan],
      dtype='object', name=1)
Index([                          'Student ID',
                                      'AC/IT',
                                        'Att',
                                  'Total Hrs',
                                  'Last Name',
                                 'First Name',
                             'Preferred name',
                                      'Notes',
                         '9:00 AM - 11:00 AM',
         'Morning Break (11:00 AM- 11:15 AM)',
                         '11:15 AM - 1:15 PM',
             'Lunch Break (1:15 PM -1:45 PM)',
                          '1:45 PM - 3:45 PM',
               'Tea Break (3:45 PM- 4:00 PM)',
                          '4:00 PM - 5:30 PM',
       'No of Hours at Final Session(5:30PM)',
                                'Total Hours',
                     'S.S Use Only. Lateness',
                                          nan,
                                          nan,
                                    'present',
                                   'feedback',
                                          nan,
                                          nan,
                                          nan,
                                          nan],
      dtype='object', name=1)
{'date': '12/08/2023', 'module': 'Study Period D,RS4', 'class': 'Mel Sat. 01', 'trainer': 'Adrian White', 'class total': 19}
Index([                          'Student ID',
                                      'AC/IT',
                                        'Att',
                                  'Total Hrs',
                                  'Last Name',
                                 'First Name',
                             'Preferred name',
                                      'Notes',
                         '9:00 AM - 11:00 AM',
        'Morning Break\n(11:00 AM- 11:15 AM)',
                         '11:15 AM - 1:15 PM',
            'Lunch Break\n(1:15 PM -1:45 PM)',
                          '1:45 PM - 3:45 PM',
              'Tea Break\n(3:45 PM- 4:00 PM)',
                          '4:00 PM - 5:30 PM',
       'No of Hours at Final Session(5:30PM)',
                                'Total Hours',
                     'S.S Use Only. Lateness',
                                          nan,
                                          nan,
                                    'present',
                                   'feedback',
                                          nan,
                                          nan,
                                          nan,
                                          nan],
      dtype='object', name=1)
Index([                          'Student ID',
                                      'AC/IT',
                                        'Att',
                                  'Total Hrs',
                                  'Last Name',
                                 'First Name',
                             'Preferred name',
                                      'Notes',
                         '9:00 AM - 11:00 AM',
         'Morning Break (11:00 AM- 11:15 AM)',
                         '11:15 AM - 1:15 PM',
             'Lunch Break (1:15 PM -1:45 PM)',
                          '1:45 PM - 3:45 PM',
               'Tea Break (3:45 PM- 4:00 PM)',
                          '4:00 PM - 5:30 PM',
       'No of Hours at Final Session(5:30PM)',
                                'Total Hours',
                     'S.S Use Only. Lateness',
                                          nan,
                                          nan,
                                    'present',
                                   'feedback',
                                          nan,
                                          nan,
                                          nan,
                                          nan],
      dtype='object', name=1)

In [49]:
import sqlite3
conn = sqlite3.connect('db.sqlite3')  # Replace 'your_database.db' with the actual path to your SQLite database file.
cursor = conn.cursor()

In [50]:
cursor.execute('''SELECT name FROM sqlite_master WHERE type='table';''').fetchall()

[('django_migrations',),
 ('sqlite_sequence',),
 ('auth_group_permissions',),
 ('auth_user_groups',),
 ('auth_user_user_permissions',),
 ('django_admin_log',),
 ('django_content_type',),
 ('auth_permission',),
 ('auth_group',),
 ('auth_user',),
 ('myapp_class',),
 ('myapp_student',),
 ('myapp_teacher',),
 ('myapp_uploadfile',),
 ('myapp_studentclass',),
 ('myapp_classschedule',),
 ('django_session',)]

In [53]:
import os
import sys
from pathlib import Path

import django

PROJECT_ROOT_DIR = Path(os.path.abspath(__file__)).parents[1]
DJANGO_ROOT_DIR = PROJECT_ROOT_DIR / "classificationapp"

NameError: name '__file__' is not defined

In [51]:
metadata = {'date': '05/08/2023', 'module': 'Study Period D,RS3', 'class': 'Mel Sat. 01', 'trainer': 'Adriassn White', 'class total': 19}

In [52]:
cursor = conn.cursor()
cursor.execute("INSERT INTO myapp_teacher (teacher_name) VALUES (?)", (metadata['trainer'],))
conn.commit()

IntegrityError: NOT NULL constraint failed: myapp_teacher.password

In [43]:
# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query
cursor.execute("SELECT * from myapp_teacher")

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Fetch all rows
rows = cursor.fetchall()

# Print column names
print(column_names)

# Print rows with column names
for row in rows:
    row_dict = dict(zip(column_names, row))
    print(row_dict)

# Close the cursor and connection
cursor.close()

['id', 'teacher_name']
{'id': 1, 'teacher_name': 'Adrian White'}

In [35]:
cursor = conn.cursor()
cursor.execute("INSERT INTO myapp_class (class_name) VALUES (?)", (metadata['class'],))
conn.commit()

In [36]:
# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query
cursor.execute("SELECT * from myapp_class")

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Fetch all rows
rows = cursor.fetchall()

# Print column names
print(column_names)

# Print rows with column names
for row in rows:
    row_dict = dict(zip(column_names, row))
    print(row_dict)

# Close the cursor and connection
cursor.close()

['id', 'class_name']
{'id': 1, 'class_name': 'Mel Sat. 01'}

In [44]:
cursor = conn.cursor()
cursor.execute("INSERT INTO myapp_classschedule (date, module, class_info_id, trainer_id, class_total) VALUES (?, ?, ?, ?, ?)",
               (metadata['date'], metadata['module'], metadata['class'], metadata['trainer'], metadata['class total']))
conn.commit()

In [45]:
# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query
cursor.execute("SELECT * from myapp_classschedule")

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Fetch all rows
rows = cursor.fetchall()

# Print column names
print(column_names)

# Print rows with column names
for row in rows:
    row_dict = dict(zip(column_names, row))
    print(row_dict)

# Close the cursor and connection
cursor.close()

['id', 'date', 'module', 'class_total', 'class_info_id', 'trainer_id']
{'id': 1, 'date': '05/08/2023', 'module': 'Study Period D,RS3', 'class_total': 19, 'class_info_id': 'Mel Sat. 01', 'trainer_id': 'Adrian White'}
{'id': 2, 'date': '05/08/2023', 'module': 'Study Period D,RS3', 'class_total': 19, 'class_info_id': 'Mel Sat. 01', 'trainer_id': 'Adriassn White'}
{'id': 3, 'date': '05/08/2023', 'module': 'Study Period D,RS3', 'class_total': 19, 'class_info_id': 'Mel Sat. 01', 'trainer_id': 1}