In [1]:
pwd

'/Users/kashisethia/prashant_projects/project2/attendance_tracker/admin_dasboard'

In [46]:
import pandas as pd
from openpyxl import load_workbook

In [47]:
def add_data_after_reading_csv_file(excel_file_path):
    wb = load_workbook(excel_file_path, data_only=True)  # Use data_only=True to read evaluated values

    # Create an empty list to store the data
    data = []
    
    # Iterate through all sheets in the workbook
    for sheet in wb.sheetnames:
        # Read each sheet as a DataFrame
        df = pd.read_excel(excel_file_path, sheet_name=sheet, header=None)
        df = df.dropna(how='all')
        data.append(df)

    for df in data:
        if 'date' in df.iloc[0][0].lower():
            metadata = {}
            for index in range(len(df.iloc[0])):
                if pd.notna(df.iloc[0][index]):
                    try:
                        key = df.iloc[0][index].split(':')[0].strip().lower()
                        if key.lower() == 'class total':
                            value = df.iloc[0][index+1]
                        else:
                            value = df.iloc[0][index].split(':')[1].strip()
                        metadata[key] = value
                    except:
                        pass
                        # print('Invalid data format')
            print(metadata)
            temp_df = df
            temp_df = temp_df.drop(0)
            
            # Set the second row as column names
            temp_df.columns = temp_df.iloc[0]
            
            # Reset the index
            temp_df = temp_df.reset_index(drop=True)
            
            temp_df = temp_df.drop(0)
            # Print the resulting DataFrame
            print(temp_df)

In [60]:
def add_data_after_reading_csv_file(excel_file_path):
    wb = load_workbook(excel_file_path, data_only=True)  # Use data_only=True to read evaluated values

    # Create an empty list to store the data
    data = []
    
    # Iterate through all sheets in the workbook
    for sheet in wb.sheetnames:
        # Read each sheet as a DataFrame
        df = pd.read_excel(excel_file_path, sheet_name=sheet, header=None)
        df = df.dropna(how='all')
        data.append(df)

    for df in data:
        if 'date' in df.iloc[0][0].lower():
            metadata = {}
            for index in range(len(df.iloc[0])):
                if pd.notna(df.iloc[0][index]):
                    try:
                        key = df.iloc[0][index].split(':')[0].strip().lower()
                        if key.lower() == 'class total':
                            value = df.iloc[0][index+1]
                        else:
                            value = df.iloc[0][index].split(':')[1].strip()
                        metadata[key] = value
                    except:
                        pass
                        # print('Invalid data format')
            print(metadata)
            temp_df = df
            temp_df = temp_df.drop(0)
            
            # Set the second row as column names
            temp_df.columns = temp_df.iloc[0]
            
            # Reset the index
            temp_df = temp_df.reset_index(drop=True)
            
            temp_df = temp_df.drop(0)
            selected_columns = [                          'Student ID',
                                      'AC/IT',
                                        'Att',
                                  'Total Hrs',
                                  'Last Name',
                                 'First Name',
                             'Preferred name',
                                      'Notes',
                         '9:00 AM - 11:00 AM',
        'Morning Break\n(11:00 AM- 11:15 AM)',
                         '11:15 AM - 1:15 PM',
            'Lunch Break\n(1:15 PM -1:45 PM)',
                          '1:45 PM - 3:45 PM',
              'Tea Break\n(3:45 PM- 4:00 PM)',
                          '4:00 PM - 5:30 PM',
       'No of Hours at Final Session(5:30PM)',
                                'Total Hours']
            # Print the resulting DataFrame
            return (temp_df[selected_columns])

In [61]:
file_name = '/Users/kashisethia/prashant_projects/project2/attendance_tracker/Mel Sat.01AdrianWhite August 2023.xlsx'
add_data_after_reading_csv_file(file_name)

{'date': '05/08/2023', 'module': 'Study Period D,RS3', 'class': 'Mel Sat. 01', 'trainer': 'Adrian White', 'class total': 19}

1,Student ID,AC/IT,Att,Total Hrs,Last Name,First Name,Preferred name,Notes,9:00 AM - 11:00 AM,Morning Break\n(11:00 AM- 11:15 AM),11:15 AM - 1:15 PM,Lunch Break\n(1:15 PM -1:45 PM),1:45 PM - 3:45 PM,Tea Break\n(3:45 PM- 4:00 PM),4:00 PM - 5:30 PM,No of Hours at Final Session(5:30PM),Total Hours
1,ATMC220611,AC,27,NaN,GARG,KASHISH,Kashish,NaN,Present,2,Present,2,Present,2,Present,2,8
2,ATMC230395,IT,16,NaN,PABBA,RAHUL,Rahul,NaN,Present,2,Present,2,Present,2,Present,2,8
3,ATMC230367,IT,12,NaN,ZHOU,ZHAOHUI,Vincent,NaN,Present,2,Present,2,Late 30mins,1.5,Present,2,7.5
4,ATMC230168,AC,11,NaN,NAOTUNNAGE,SACHITH VIMUKTHI,Sachith,NaN,Absent,0,Absent,0,Absent,0,Absent,0,0
5,ATMC230498,IT,8,NaN,Akashjot Singh,Akashjot,Akash,NaN,Present,2,Present,2,Present,2,Present,2,8
6,ATMC230422,AC,11,NaN,AHMED,FARJAN,Farjan,NaN,Present,2,Present,2,Present,2,Present,2,8
7,ATMC230410,IT,10,NaN,CHENG,HAN-FANG,Anna,NaN,Present,2,Present,2,Present,2,Present,2,8
8,ATMC230464,IT,8,NaN,Yongchao,XU,Yon,NaN,Present,2,Present,2,Present,2,Present,2,8
9,ATMC230153,IT,6,NaN,Mai Thanh Thao,HA,Mai,NaN,Present,2,Present,2,Present,2,Present,2,8
10,ATMC230473,IT,7,NaN,KHAN,Fizza Taimoor,Fizza,NaN,Present,2,Present,2,Present,2,Present,2,8
11,ATMC230546,IT,2,NaN,ANDRE,Louis Nicholas,Louis,NaN,Present,2,Present,2,Present,2,Present,2,8
12,ATMC230522,AC,2,NaN,.,Kulvir Kaur,Kulvir,NaN,Present,2,Present,2,Present,2,Present,2,8
13,ATMC230453,IT,8,NaN,SHAIK,ABDUL MAHEER,NaN,Transferred from Wed,Present,2,Present,2,Present,2,Present,2,8
14,ATMC230549,AC,NaN,NaN,Mansi Sharma,.,NaN,New Student,Present,2,Present,2,Present,2,Present,2,8
15,ATMC230557,AC,NaN,NaN,Anya,GUO,NaN,New Student,Present,2,Present,2,Present,2,Present,2,8
16,ATMC230564,IT,NaN,NaN,Zian,LIU,NaN,New Student,Present,2,Present,2,Present,2,Present,2,8
17,ATMC230569,IT,NaN,NaN,CHAN,Mei Yu,NaN,New Student,Present,2,Present,2,Present,2,Present,2,8
18,ATMC220450,IT,NaN,NaN,PEI,FEI,NaN,Attendance Hours,Present,2,Present,2,Present,2,Present,2,8
19,ATMC230218,IT,NaN,NaN,FAHAD,MD MUMENAL ISLAM,NaN,Attendance Hours,Present,2,Present,2,Present,2,Present,2,8
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please don't remove this part,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* Morning Break and Tea Break counted in total...,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KEY,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A-Absent,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P-Present,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,L-Late (15 mins),NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E-Excused,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,5.15pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
import sqlite3
conn = sqlite3.connect('db.sqlite3')  # Replace 'your_database.db' with the actual path to your SQLite database file.
cursor = conn.cursor()

In [50]:
cursor.execute('''SELECT name FROM sqlite_master WHERE type='table';''').fetchall()

[('django_migrations',),
 ('sqlite_sequence',),
 ('auth_group_permissions',),
 ('auth_user_groups',),
 ('auth_user_user_permissions',),
 ('django_admin_log',),
 ('django_content_type',),
 ('auth_permission',),
 ('auth_group',),
 ('auth_user',),
 ('myapp_class',),
 ('myapp_student',),
 ('myapp_teacher',),
 ('myapp_uploadfile',),
 ('myapp_studentclass',),
 ('myapp_classschedule',),
 ('django_session',)]

In [53]:
import os
import sys
from pathlib import Path

import django

PROJECT_ROOT_DIR = Path(os.path.abspath(__file__)).parents[1]
DJANGO_ROOT_DIR = PROJECT_ROOT_DIR / "classificationapp"

NameError: name '__file__' is not defined

In [51]:
metadata = {'date': '05/08/2023', 'module': 'Study Period D,RS3', 'class': 'Mel Sat. 01', 'trainer': 'Adriassn White', 'class total': 19}

In [52]:
cursor = conn.cursor()
cursor.execute("INSERT INTO myapp_teacher (teacher_name) VALUES (?)", (metadata['trainer'],))
conn.commit()

IntegrityError: NOT NULL constraint failed: myapp_teacher.password

In [43]:
# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query
cursor.execute("SELECT * from myapp_teacher")

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Fetch all rows
rows = cursor.fetchall()

# Print column names
print(column_names)

# Print rows with column names
for row in rows:
    row_dict = dict(zip(column_names, row))
    print(row_dict)

# Close the cursor and connection
cursor.close()

['id', 'teacher_name']
{'id': 1, 'teacher_name': 'Adrian White'}

In [35]:
cursor = conn.cursor()
cursor.execute("INSERT INTO myapp_class (class_name) VALUES (?)", (metadata['class'],))
conn.commit()

In [36]:
# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query
cursor.execute("SELECT * from myapp_class")

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Fetch all rows
rows = cursor.fetchall()

# Print column names
print(column_names)

# Print rows with column names
for row in rows:
    row_dict = dict(zip(column_names, row))
    print(row_dict)

# Close the cursor and connection
cursor.close()

['id', 'class_name']
{'id': 1, 'class_name': 'Mel Sat. 01'}

In [44]:
cursor = conn.cursor()
cursor.execute("INSERT INTO myapp_classschedule (date, module, class_info_id, trainer_id, class_total) VALUES (?, ?, ?, ?, ?)",
               (metadata['date'], metadata['module'], metadata['class'], metadata['trainer'], metadata['class total']))
conn.commit()

In [45]:
# Create a cursor object
cursor = conn.cursor()

# Execute the SQL query
cursor.execute("SELECT * from myapp_classschedule")

# Get column names
column_names = [desc[0] for desc in cursor.description]

# Fetch all rows
rows = cursor.fetchall()

# Print column names
print(column_names)

# Print rows with column names
for row in rows:
    row_dict = dict(zip(column_names, row))
    print(row_dict)

# Close the cursor and connection
cursor.close()

['id', 'date', 'module', 'class_total', 'class_info_id', 'trainer_id']
{'id': 1, 'date': '05/08/2023', 'module': 'Study Period D,RS3', 'class_total': 19, 'class_info_id': 'Mel Sat. 01', 'trainer_id': 'Adrian White'}
{'id': 2, 'date': '05/08/2023', 'module': 'Study Period D,RS3', 'class_total': 19, 'class_info_id': 'Mel Sat. 01', 'trainer_id': 'Adriassn White'}
{'id': 3, 'date': '05/08/2023', 'module': 'Study Period D,RS3', 'class_total': 19, 'class_info_id': 'Mel Sat. 01', 'trainer_id': 1}